* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  outline: none;
  border: none;
}

body {
  background: url(/Light_Back.svg), #e0f7ff;
  background-size: 103%;

  // background-position:20%;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
}





