.groups {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-top: 20px;
}
.groups .drawer {
  position: absolute;
  height: 75%;
  width: 18vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(1, 32, 48, 0.3);
  background-color: rgba(224, 247, 255, 0.8470588235);
  border-radius: 0 30px 30px 0;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  animation: drawer 0.2s ease-in-out;
  gap: 20px;
}
.groups .drawer .username {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #012030;
  color: #012030;
}
.groups .drawer .username img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.groups .drawer .username h3 {
  font-size: 20px;
  font-weight: 600;
}
.groups .drawer .group-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.groups .drawer .group-item {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.groups .drawer .group-item .return {
  font-size: 14px;
}
.groups .drawer .group-item h4 {
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5px;
}
.groups .drawer .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.groups .drawer .title h3,
.groups .drawer .title .arrow {
  color: #012030;
}
.groups .drawer .arrow {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  font-weight: 700;
}
.groups .drawer .arrow:hover {
  color: #cc53e5;
  transform: scale(1.2);
}
.groups .drawer .group-list {
  width: 100%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  border: 1px dashed #012030;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.groups .drawer .group-list::-webkit-scrollbar {
  width: 0px;
}
.groups .drawer .group-list .empty {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@keyframes drawer {
  from {
    transform: translateX(-100%) scale(0) translateY(-50%);
  }
  to {
    transform: translateX(0) scale(1) translateY(-50%);
  }
}

.drawer-user {
  position: absolute;
  height: 75%;
  width: 24vw;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(1, 32, 48, 0.3);
  background-color: rgba(224, 247, 255, 0.8470588235);
  border-radius: 30px 0 0 30px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  animation: drawer-user 0.2s ease-in-out;
  gap: 20px;
}
.drawer-user .username {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #012030;
  color: #012030;
}
.drawer-user .username img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.drawer-user .username h3 {
  font-size: 20px;
  font-weight: 600;
}
.drawer-user .group-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.drawer-user .group-item {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.drawer-user .group-item .return {
  font-size: 14px;
}
.drawer-user .group-item h4 {
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5px;
}
.drawer-user .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.drawer-user .title h3,
.drawer-user .title .arrow {
  color: #012030;
}
.drawer-user .arrow {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 700;
}
.drawer-user .arrow:hover {
  color: #cc53e5;
  transform: scale(1.2);
}
.drawer-user .group-list {
  width: 100%;
  height: 100%;
  border-radius: 25px 0 0 25px;
  border: 1px dashed #012030;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.drawer-user .group-list::-webkit-scrollbar {
  width: 0px;
}
.drawer-user .group-list .empty {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@keyframes drawer-user {
  from {
    transform: translateX(100%) scale(0) translateY(-50%);
  }
  to {
    transform: translateX(0) scale(1) translateY(-50%);
  }
}

.product-container {
  position: absolute;
  top: 50%;
  left: 47%;
  border-radius: 30px;
  transform: translate(-50%, -50%) scale(1);
  width: 55vw;
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-shadow: 0 0 10px rgba(1, 32, 48, 0.3);
  background-color: rgba(224, 247, 255, 0.8470588235);
  animation: zoom-out 0.5s ease forwards;
}
.product-container::-webkit-scrollbar {
  width: 0px;
}
@keyframes zoom-out {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}/*# sourceMappingURL=drawer.css.map */